<p id="profile-user">user: <%= @user.username %></p>  

<div id="profile-posts">
	<p class="profile-headers">recent posts:</p>
	<ul id="all-posts">
	<% @user.posts.reverse.each_with_index do |post, index| %>
		<li class="single-post">
			<% num = index < 9 ? " #{index + 1}" : "#{index + 1}"%>
      <span class="post-num"><%= num %>. </span>
			<a href="<%= post.id %>" class="post-vote">Δ</a>
			<span class="post-link"><a href="/posts/<%= post.id %>"><%= post.title %></a></span><br>
			<span class="post-comment-count">[<%= post.comments.length %> comments,</span>
			<% post_points = PostVote.where('post_id = ?', post.id).count %>
			<% point_s = post_points == 1 ? 'point' : 'points' %>
			<span class="post-points"><%= post_points %> <%= point_s %>]</span>
		</li>
	<% end %>
	</ul>
</div>

<div id="profile-comments">
	<p class="profile-headers">recent comments:</p>
	<ul id="all-comments">
		<% @user.comments.reverse.each do |comment| %>
		  <li class="single-comment">
			  <div class="line-one">
	        <a href="<%= comment.id %>" class="comment-vote">Δ</a>
	        <span class="comments-post-title"><a href="/posts/<%= comment.post.id %>"><%= comment.post.title %></a></span>
	  		  <span class="comments-post-username">(<%= comment.user.username %>)</span>
	        <% comment_points = CommentVote.where('comment_id = ?', comment.id).count %>
	        <% point_s = comment_points == 1 ? 'point' : 'points' %>
	        <span class="comment-points">[<%= comment_points %> <%= point_s %>]</span>
	      </div>
			  <p class="comments-comment"><%= comment.comment %></p>
			</li>
		<% end %>
	</ul>
</div>
