<p id="post-page-top">
	<a href="<%= @post.id %>" class="post-vote2">Δ</a>
	<span id="post-page-title"><%= @post.title %></span>
	<span id="post-page-user"> (<%= @post.user.username %>)</span>
	<% post_points = PostVote.where('post_id = ?', @post.id).count %>
	<% point_s = post_points == 1 ? 'point' : 'points' %>
	<span class="post-points">[<%= post_points %> <%= point_s %>]</span>
</p>

<p id="post-page-content"><%= @post.content %></p>

<ul id="comment-form-list">
	<form id="comment-form" action="/comments" method="post">
	  <li id="comment-form-comment"><textarea cols="50" rows="5" name="comment" required></textarea></li>
	  <input type="hidden" name="post_id" value="<%= @post.id %>">
	  <li id="comment-form-button"><input type="submit" value="add comment"></li>
	</form>
</ul>

<div id="comments-page-comments">
	<p class="comments-headers">all comments (<%= @post.comments.length %>):</p>
	<ul id="all-comments">
		<% @post.comments.reverse.each do |comment| %>
		  <li class="single-comment">
			  <div class="single-comment">
				  <a href="<%= comment.id %>" class="comment-vote">Δ</a>
				  <% username = Post.find(comment.post.id).user.username %>
				  <span class="comments-post-username">(<%= username %>) </span>
				  <% comment_points = CommentVote.where('comment_id = ?', comment.id).count %>
	        <% point_s = comment_points == 1 ? 'point' : 'points' %>
	        <span class="comment-points">[<%= comment_points %> <%= point_s %>]</span>
	      </div>
			  <span class="comments-comment"><%= comment.comment %></span>
			</li>
		<% end %>
	</ul>
</div>
